.. title: Carnavales en Vallekas 2017: Vallekas libre de violencias machistas!
.. slug: 20170221-carnavales-vallekas
.. date: 2017/02/21 07:31:00
.. tags: Kontrabloko, Carnaval, Puente de Vallekas, Villa de Vallekas
.. author: Kontrabloko

<p>Kontrabloko con Patiukada estaremos compartiendo sonrisas, gui&ntilde;os y ritmos de resistencia celebrando el Carnaval Vallekano en Puente y Villa de Vallekas los próximos viernes 24 y sábado 25 de febrero a partir de las 17:30.</p>
<p>&iexcl;No te lo pierdas! &iexcl;Por un Vallekas libre de violencias machistas!</p>
<p><a target="_blank" href="/images/2017/02/20170224carnavales.jpg"><img src="/images/2017/02/20170224carnavales.thumbnail.jpg" width="209" height="400" alt="Cartel Carnaval 2017 Puente de Vallekas"/></a></p>
