.. title: Gala de las 3M
.. slug: 20180226-gala3m
.. date: 2018/02/26 19:42:00
.. tags: Kontracorriente, Gala 3M, Villa de Vallekas

<p>Este sábado 3 de marzo Gala 3Ms. Colabora AAVV La Unión.</p>
<p><a target="_blank" href="https://www.openstreetmap.org/way/28811118">Plaza Antonio María Segovia</a></p>
<p>Entrada libre hasta completar aforo (a partir de las 19:00).</p>
<p><a target="_blank" href="/images/2018/03/20180303_gala3m.jpg"><img src="/images/2018/03/20180303_gala3m.thumbnail.jpg" width="242" height="400" alt="Cartel Gala 3M marzo 2018"/></a></p>
