.. title: #NosQueremosVivas
.. slug: 20161126-nos-queremos-vivas
.. date: 2016/11/26 16:55:00
.. tags: Kontrabloko, 25N
.. author: Kontrabloko

<p>Mañana, domingo 27 de noviembre a las 11:00 en <a target="_blank" href="http://www.openstreetmap.org/search?query=40.38741%2C-3.63967">Avenida de la Albufera 285</a>, Kontrabloko con Patiukada sonarán en la Fiesta por la Igualdad de Puente de Vallecas.</p>
<p>Pasaros a denunciar a ritmo de batukada: &iexcl;Ni una más!</p>
<p><a target="_blank" href="/images/2016/11/20161127_nos_queremos_vivas.jpg"><img src="/images/2016/11/20161127_nos_queremos_vivas.thumbnail.jpg" width="400" height="376" alt="Programación #NosQueremosVivas 2016"/></a></p>
