.. title: Kontratapa 4 de febrero
.. slug: 20180129-kontratapa
.. date: 2018/01/29 19:06:00
.. tags: Chirigota, Kontracorriente, Kontratapa, Villa de Vallekas

<p>&iexcl;A la rica kontratapa! Próximo domingo 4 de febrero a partir de las 12:00 con la actuación de la chirigota del kontra: Los Antepenúltimos Samurais. &iexcl;Calentando para el Carnaval!</p>
<p><a target="_blank" href="/images/2018/02/20180204_kontratapa.jpg"><img src="/images/2018/02/20180204_kontratapa.thumbnail.jpg" width="400" height="225" alt="Kontratapa 4 de febrero"/></a></p>
