.. title: Gala de las 3M
.. slug: 20170301-gala3m
.. date: 2017/03/01 15:09:00
.. tags: Kontracorriente, Gala 3M, Villa de Vallekas

<p>Este sábado 4 de marzo presenta Mon y actúan:</p>
<ul>
	<li>Chirigota Kontracorriente</li>
	<li>Gusanito rojo</li>
	<li>Juan2trhii. Malabarluz</li>
	<li>Aja. clown musical</li>
	<li>Raulez. Aros y pelotas</li>
	<li>Desincronizadas. Humor</li>
	<li>Juan y Pipa. Malabarluz</li>
</ul>
<p><a target="_blank" href="https://www.openstreetmap.org/way/28811118">Plaza Antonio María Segovia</a></p>
<p>Entrada libre hasta completar aforo (a partir de las 18:15).</p>
<p><a target="_blank" href="/images/2017/03/20170304gala3m.jpg"><img src="/images/2017/03/20170304gala3m.thumbnail.jpg" width="400" height="283" alt="Cartel Gala 3M marzo 2017"/></a></p>
