.. title: Kontrautor@s
.. slug: 20161007-kontrautores
.. date: 2016/10/07 18:50:00
.. tags: Kontracorriente, Kontrautor@s

<p>¡¡¡Kontrautor@s!!! ¡¡¡Sábado 15 de octubre con el magnífico Pablo Pollo!!! En el <a href="/stories/donde-estamos">local</a> a las 20:00. ¡¡No os lo perdáis!!</p>
<p><a target="_blank" href="/images/2016/10/20161015_kontrautores.jpg"><img src="/images/2016/10/20161015_kontrautores.thumbnail.jpg" width="281" height="400" alt="Cartel Kontrautor@s octubre 2016"/></a></p>
