.. title: Kontrafiestas 2018
.. slug: 20180914-kontrafiestas
.. date: 2018/09/14 11:24:00
.. tags: Kontracorriente, Kontrafiestas, Villa de Vallekas

<p>Desde Kontracorriente queremos invitaros un año más a que paséis con nosotrxs los mejores momentos de las fiestas del Pueblo de Vallekas. Podréis disfrutar de estupendas actuaciones musicales, acrobacias, la famosa kontratapa con pinchos inigualables y el mejor ambiente!!!</p>
<p>Os recordamos que Kontracorriente es una asociación autogestionada. Sin vuestra asistencia, nada sería posible. Os esperamos!!!</p>
<p><a target="_blank" href="/images/2018/09/20180912_kontrafiestas.jpg"><img src="/images/2018/09/20180912_kontrafiestas.thumbnail.jpg" width="282" height="400" alt="Cartel Kontrafiestas 2018"/></a></p>
