.. title: Kontratapa 14 de febrero
.. slug: 20160202-kontratapa
.. date: 2016/02/02 10:45:00
.. author: Kontragando
.. tags: Kontragando, Kontratapa, Villa de Vallekas

<p>¡¡Y después de los carnavales preparaos que viene la kontratapa!!
<p><a target="_blank" href="/images/2016/02/20160214kontratapa.jpg"><img src="/images/2016/02/20160214kontratapa.thumbnail.jpg" width="400" height="300" alt="Cartel Kontratapa febrero 2016"/></a></p>
