.. title: Ya tenemos twitter
.. slug: 20160122-cartel-carnaval
.. date: 2016/01/22 13:21:00
.. tags: Kontracorriente

<p>¡Kontracorriente ya tiene twitter! Siguenos en <a target="_blank" href="https://twitter.com/kontraeventos">@Kontraeventos</a></p>
