.. title: Cartel carnaval de Vallekas
.. slug: 20160127-cartel-carnaval
.. date: 2016/01/27 12:20:00
.. tags: Kontracorriente, Carnaval, Puente de Vallekas

<p>Casi, casi preparados para Carnaval. Kontracorriente, como cada año, estará colaborando en los Carnavales de Puente de Vallekas y en los de Villa de Vallekas.</p>
<p><a target="_blank" href="/images/2016/01/2016cartel_carnaval.jpg"><img src="/images/2016/01/2016cartel_carnaval.thumbnail.jpg" width="400" height="883" alt="Cartel Carnaval 2016 Puente de Vallekas"/></a></p>
