.. title: Cartel carnaval de Villa de Vallekas
.. slug: 20160128-cartel-carnaval-6-febrero
.. date: 2016/01/28 17:10:00
.. tags: Kontracorriente, Carnaval, Villa de Vallekas

<p>¡¡¡Kontracorriente en los carnavales de Villa de Vallekas!!!</p>
<p><a target="_blank" href="/images/2016/01/20160206cartel_carnaval.jpg"><img src="/images/2016/01/20160206cartel_carnaval.thumbnail.jpg" width="400" height="566" alt="Cartel Carnaval 2016 Villa de Vallekas"/></a></p>
