.. title: Asamblea general extraordinaria
.. slug: 20170107-asamblea-general-extraordinaria
.. date: 2017/01/07 21:17:00
.. tags: Kontracorriente, Asamblea

<p>Se convoca, para el próximo sábado 14 de enero a las 10:30 horas, Asamblea General Extraordinaria de Kontracorriente para tratar, entre otros temas, el futuro de la Asociación y su funcionamiento.</p>
<p>Es importante la asistencia del mayor número de personas posible.</p>
