body {
  font-size: 1.6rem;
}

footer {
  text-align: center;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 0.2rem;
}

h2 {
  font-size: 3rem;
}

html {
  font-size: 62.5%; /* base rem = 10px */
}

#logo {
  margin-right: 1rem;
}

.metadata {
  font-size: 1.4rem
}

.navbar, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a {
  background-color: white;
}

.navbar-inverse .navbar-toggle {  /* hamburger button */
  background-color: black;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.byline-name > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus
{
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus  {
  color: black;
  background-color: white;
}

/* This is a bug of bootstrap3, surely in the future it can be removed safely */
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
  background-color: #f5f5f5;
}

.entry-title > a, .dateline > a {
  color: black;
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
