.. title: Videofórum Sufragistas
.. slug: 20160302-videoforum-sufragistas
.. date: 2016/03/02 13:45:00
.. tags: Kontracorriente, 8M, Villa de Vallekas

<p>El viernes 11 de marzo a las 20:00 en el <a href="/stories/donde-estamos">local del kontra</a>, haremos un videofórum con la película <a target="_blank" href="http://www.imdb.com/title/tt3077214/">Sufragistas</a> donde os invitamos a participar para reflexionar junt@s, tomarnos algo y seguir reivindicando la verdadera igualdad entre mujeres y hombres. "A igual esfuerzo, igual recompensa".</p>
<p><a target="_blank" href="/images/2016/03/videoforum_sufragistas.jpg"><img src="/images/2016/03/videoforum_sufragistas.thumbnail.jpg" width="400" height="631" alt="Cartel Videofórum Sufragistas"/></a></p>
