.. title: Mural Día Internacional de la Mujer
.. slug: 20160302-mural-dia-internacional-de-la-mujer
.. date: 2016/03/02 17:30:00
.. tags: Kontracorriente, 8M, Mural, Villa de Vallekas

<p>El próximo sábado 5 de marzo a las 11:30 nos encontraremos en el Paseo Federico García Lorca para realizar una pintura mural colectiva con motivo del Día Internacional de la Mujer.</p>
<p>Hemos quedado el viernes 4 de marzo a las 17:00 en el <a href="/stories/donde-estamos">local del kontra</a> para coger la pintura y blanquear la pared</p>
<p>Se ruega apoyo porque somos poquita gente. Quien llegue más tarde puede ir directamente a la pared (junto al olivo) para echar una manita.</p>
