.. title: Mural Libertad Titiriteros
.. slug: 20160303-mural-libertad-titiriteros
.. date: 2016/03/21 20:30:00
.. tags: Kontracorriente, Mural, Villa de Vallekas

<p>¡¡Mirad que chulo nos ha quedada el nuevo grafitti!!</p>
<p><a target="_blank" href="/galleries/kontracorriente/2016/03/20160321-mural-titiriteros/mural_20m_04.jpg"><img src="/galleries/kontracorriente/2016/03/20160321-mural-titiriteros/mural_20m_04.thumbnail.jpg" width="400" height="225" alt="Mural Libertad Titiriteros 21 de marzo de 2016"/></a></p>
<p>Podéis ver la galería de la pintada <a target="_blank" href="/galleries/kontracorriente/2016/03/20160321-mural-titiriteros/">aquí</a>.
