.. title: Actos Día Internacional de la Mujer
.. slug: 20160305-actos-dia-mujer
.. date: 2016/03/05 15:16:00
.. tags: Kontracorriente, 8M, Villa de Vallekas

<p>Actos que llevará a cabo Kontracorriente por el Día Internacional de la Mujer:</p>
<ul>
    <li>6 de marzo, 11:30: <a href="../20160305-mural-dia-internacional-de-la-mujer">Pintura mural colectiva</a></li>
    <li>11 de marzo, 20:00: <a href="../20160302-videoforum-sufragistas">Videofórum sufragistas</a></li>
    <li>15 de abril a las 19:00: Taller de aprendizaje colectivo "Nuevas formas de Violencia de Género. Acoso y control en las Redes" que tendrá lugar en el <a href="/stories/donde-estamos">local del kontra</a>.</li>
</ul>
<p><a target="_blank" href="/images/2016/03/actos_8m_2016.jpg"><img src="/images/2016/03/actos_8m_2016.thumbnail.jpg" width="400" height="566" alt="Cartel Actos Día de la Mujer Kontracorriente 2016"/></a></p>
