.. title: Cabalgata de Puente de Vallekas
.. slug: 20160104-cabalgata
.. date: 2016/01/04 09:56:00
.. tags: Kontrabloko, Cabalgata, Puente de Vallekas
.. author: Kontrabloko

<p>Kontrabloko estará a ritmo de batukada-mágica en "La noche de la magia" en la Cabalgata Popular de Puente de Vallekas.</p>
<p>A las 18h desde la <a target="_blank" href="http://www.openstreetmap.org/node/316750023">Biblioteca "Miguel Hernández"</a> hasta la <a target="_blank" href="http://www.openstreetmap.org/way/388920633">Junta Municipal de Puente</a>.</p>
<p>&iexcl;&iexcl;Venid a disfrutar de las batukadas mágicas!!</p>
<p><a target="_blank" href="/images/2016/01/cabalgata.jpg"><img src="/images/2016/01/cabalgata.thumbnail.jpg" width="400" height="566" alt="Cartel Cabalgata 2016 Puente de Vallecas"/></a></p>
