.. title: Carnavales en la Cañada Real
.. slug: 20160128-carnavales-canyada
.. date: 2016/01/28 13:35:00
.. tags: Kontrabloko, Carnaval, Cañada
.. author: Kontrabloko

<p>El próximo martes 3 de febrero Kontrabloko estará animando con su percusión los carnavales en la Cañada Real. Empezaremos a las 17:30 desde la <a target="_blank" href="http://www.openstreetmap.org/#map=18/40.37084/-3.54957">Asociación de Vecinos Sector 5 en la esplanada Mario Benedetti</a>.</p>
<p>A pesar de todo....</p>
<p>A pesar del abandono institucional.</p>
<p>A pesar de esa administración que mira hacia otro lado.</p>
<p>A pesar de las políticas que la excluyen y marginan.</p>
<p>A pesar de que la digan pobre pero ella es realeza.</p>
<p>A pesar de que nadie o pocos le reconozca toda la riqueza de culturas encontradas.</p>
<p>A pesar de la etiqueta y cliches que se la ponen.</p>
<p>A pesar de los pesares con tus gentes y sus sonrisas sacaremos ritmos a la vida.</p>
<p>A pesar de todo, te haces grande CAÑADA, con tus noches, tu carnaval y tus días.</p>
<p><a target="_blank" href="/images/2016/01/20160203cartel_carnaval.jpg"><img src="/images/2016/01/20160203cartel_carnaval.thumbnail.jpg" width="400" height="566" alt="Cartel Carnaval 2016 Cañada Real"/></a></p>
