.. title: Contra el amor romántico
.. slug: 20160209-contra-el-amor-romantico
.. date: 2016/02/09 12:52:00
.. tags: Kontracorriente, La Villa Roja, Villa de Vallekas

<p>Contra el amor romántico y el sistema heteropatriarcal. Viernes 12 de febrero a las 19:00 en el <a href="/stories/donde-estamos">local del kontra</a>. Organiza: La Villa Roja.</p>
<p><a target="_blank" href="/images/2016/02/charla_la_villa_roja.jpg"><img src="/images/2016/02/charla_la_villa_roja.thumbnail.jpg" width="400" height="485" alt="Cartel Contra el amor romántico"/></a></p>
