.. title: Gala 3'M
.. slug: 20160224-gala-3m
.. date: 2016/02/24 12:44:00
.. tags: Kontracorriente, Gala 3M, Villa de Vallekas

<p>&iquest;Te gustan los Malabares? &iquest;Te gusta la Magia? &iquest;Te gusta la Música?</p>
<p>&iexcl;&iexcl;Pues este sábado 27 de febrero a las 19:00 podrás tener todo junto!!</p>
<p>Nueva edición de la Gala de las 3M: Malabares, Música y Magia, organizada por el colectivo Kontracorriente en Villa de Vallecas en el <a target="_blank" href="https://www.openstreetmap.org/way/28811118">Centro Cultural Pilar Miró</a>.</p>
<p>&iexcl;&iexcl;Sabes que no hay mejor plan para este sábado!!</p>
<p>&iquest;Te lo vas a perder?</p>
<p><a target="_blank" href="/images/2016/02/20160227gala3m.jpg"><img src="/images/2016/02/20160227gala3m.thumbnail.jpg" width="400" height="566" alt="Cartel Gala 3M 2016"/></a></p>
