.. title: Aperitivo camarotense 4 de noviembre
.. slug: 20171101-aperitivo-camarotense
.. date: 2017/11/01 10:16:00
.. tags: Kontracorriente, Villa de Vallekas

<p>Alfre Camarote presenta su disco "Las idas y venidas de los monstruos". El sábado a partir de las 13:00 en el local. Estáis invitad@s. &iexcl;Abrazukos!</p>
<p><a target="_blank" href="/images/2017/11/20171104_aperitivo.jpg"><img src="/images/2017/11/20171104_aperitivo.thumbnail.jpg" width="209" height="400" alt="Aperitivo Alfre Camarote Noviembre 2017"/></a></p>
