.. title: La chirigota busca nuevos componentes
.. slug: 20171100-chirigota
.. date: 2017/11/09 07:34:00
.. tags: Chirigota, Kontracorriente, Villa de Vallekas

<p>La chirigota busca nuevos componentes y guitarrista. &iquest;Te animas?</p>
<p><a target="_blank" href="/images/2017/11/20171109_chirigota.jpg"><img src="/images/2017/11/20171109_chirigota.thumbnail.jpg" width="400" height="714" alt="La chirigota busca nuevos componentes"/></a></p>
