.. title: Armonía y contrastes en la Cañada Real Galiana
.. slug: 20160505-canyada-real
.. date: 2016/05/05 22:51:00
.. tags: Kontrabloko,	Cañada
.. author: Kontrabloko

<p>Este sábado 7 de mayo Kontrabloko estará apoyando y animando con las entidades sociales y vecinas y vecinos que, a pesar de las dificultades y exclusiones, quieren visibilizar una cotidianidad de diversidad, de contraste y de convivencia en positivo, no exenta de reivindicación, que se da en la Cañada Real.</p>
<p><a target="_blank" href="/images/2016/05/20160507_canyada_real.jpg"><img src="/images/2016/05/20160507_canyada_real.thumbnail.jpg" width="285" height="400" alt="Cartel Armonía y Contrastes en Cañada Real Galiana 2016"/></a></p>
