.. title: Programación XIX Muestra de Arte de Calle del Pueblo de Vallekas
.. slug: 20170606-programacion-muestra-arte
.. date: 2017/06/06 23:31:00
.. tags: Kontracorriente,	Muestra de Arte de Kalle, Villa de Vallekas

<p>&iexcl;Extra, extra! Ya tenemos la programación de la XIX Muestra de Arte de Calle.</p>
<p><a target="_blank" href="/images/2017/06/20170609-muestra-arte-1.jpg"><img src="/images/2017/06/20170609-muestra-arte-1.thumbnail.jpg" width="400" height="283" alt="Díptico Muestra de Arte de Kalle 2017"/></a></p>
<p><a target="_blank" href="/images/2017/06/20170609-muestra-arte-2.jpg"><img src="/images/2017/06/20170609-muestra-arte-2.thumbnail.jpg" width="400" height="283" alt="Programación Muestra de Arte de Kalle 2017"/></a></p>
