.. title: Cabalgata Vallekana en la noche mágica
.. slug: 20170104-cabalgata-vallekana
.. date: 2017/01/04 08:48:00
.. tags: Kontrabloko, Cabalgata
.. author: Kontrabloko

<p>Los próximos días, 4 y 5 de enero, Kontrabloko participará en la cabalgata de Vallecas en la noche mágica a ritmo de batukada llevando la magia y los sueños a los más pequeños del distrito.</p>
<p>Horario:
	<ul>
		<li>Villa Vallecas: Miercoles 4 de Enero a las 17:30h Salida Fundación Rayo Vallecano.</li>
		<li>Puente Vallecas: Jueves 5 de Enero a las 17:30h Salida en Biblioteca Rafael Alberti.</li>
	</ul>
</p>
<p>&iexcl;&iexcl;Pásate a disfrutar de la magia de las reinas, reyes y pajes de Vallekas!!</p>
<p><a target="_blank" href="/images/2017/01/20170104_cabalgata_vallekana.jpg"><img src="/images/2017/01/20170104_cabalgata_vallekana.thumbnail.jpg" width="400" height="283" alt="Recorridos Cabalgatas 2017"/></a></p>
