.. title: Segundo Robregordo in action 2017
.. slug: 20170829-robregordo
.. date: 2017/08/29 20:00:00
.. tags: Kontrabloko, Robregordo
.. author: Kontrabloko

<p>Ahí va el programa. Os esperamos batukeando solidariamente Kontrabloko y <a target="_blank" href="http://www.baturkana.es">Baturkana</a> a las 17:30 este sábado 2 de sepriembre en Robregordo.</p>
<p>&iquest;Te lo vas a perder? Nosotras no.</p>
<p><a target="_blank" href="/images/2017/08/20170902_robregordo.jpg"><img src="/images/2017/08/20170902_robregordo.thumbnail.jpg" width="400" height="277" alt="Programación Robregordo in action 2017"/></a></p>
