.. title: Kontratapa 21 de mayo
.. slug: 20170517-kontratapa
.. date: 2017/05/17 00:32:00
.. author: Kontragando
.. tags: Kontragando, Kontratapa, Villa de Vallekas, Kontrabloko

<p>Próximo domingo a las 13:00 &iexcl;Kontratapa! &iexcl;Música en directo con el gran <a target="_blank" href="https://www.facebook.com/orlis.pineda">Orlis Pineda</a>! ¿Os lo váis a perder?</p>
<p><a target="_blank" href="/images/2017/05/20170521kontratapa.jpg"><img src="/images/2017/05/20170521kontratapa.thumbnail.jpg" width="378" height="400" alt="Cartel Kontratapa 21 de mayo de 2017"/></a></p>
