.. title: Cabalgatas Vallekanas 2018
.. slug: 20180104-cabalgatas
.. date: 2018/01/04 17:07:00
.. tags: Cabalgata, Kontrabloko, Puente de Vallekas, Villa de Vallekas
.. author: Kontrabloko

<p>Kontrabloko estará batukeando en las 2 cabalgatas de Vallekas, contagiando la magia real de la diversidad y la igualdad a l@s más pequeñ@s de nuestros barrios. &iexcl;Porque nuestr@s peques son el futuro! &iquest;Te lo  vas a perder? Nosotr@s y las reinas mágicas de Vallekas tampoco.</p>
<p><a target="_blank" href="/images/2018/01/20180105_orgullo.png"><img src="/images/2018/01/20180105_orgullo.thumbnail.png" width="400" height="225" alt="Cabalgata Orgullo Vallekano 2018"/></a></p>
<p><a target="_blank" href="/images/2018/01/20180105_cabalgata_puente.png"><img src="/images/2018/01/20180105_cabalgata_puente.thumbnail.png" width="345" height="342" alt="Cabalgata Puente de Vallekas 2018"/></a></p>
<p><a target="_blank" href="/images/2018/01/20180105_cabalgata_villa.jpg"><img src="/images/2018/01/20180105_cabalgata_villa.thumbnail.jpg" width="283" height="400" alt="Cabalgata Villa de Vallekas 2018"/></a></p>
