.. title: Kontrafiestas 2016
.. slug: 20160727-kontrafiestas
.. date: 2016/07/27 15:43:00
.. tags: Kontracorriente, Kontrafiestas

<p>¡¡¡¡¡Estamos preparando las Kontrafiestas!!!!!</p>
<p>Del 7 al 11 de Septiembre os esperamos, como siempre, el el txiringo del Kontracorriente.</p>
<p>Un pequeño adelanto de algunas de las actuaciones que podremos disfrutar:</p>
<p>Elisa Serna, El Mecánico del Swing, Sonotones, Caskarrabias, Desastre, La Vallekana Sound System, Gipsy Green, Imperfectasoul, Operacion Ogro, Mela Pela Fundation, Txaranga Tarambana... ¡¡¡y más cositas que tenemos por confirmar!!!</p>
<p>¿¿Os lo vais a perder??</p>
