.. title: Kontracabaret: El pequeño Sauron
.. slug: 20170224-kontracabaret
.. date: 2017/02/24 16:37:00
.. tags: Kontracorriente, Kontracabaret, Villa de Vallekas

<p>El próximo 3 de marzo, a las 20:00, no te pierdas el Kontracabaret con la actuación de El pequeño Sauron.</p>
<p><a target="_blank" href="/images/2017/03/20170303kontracabaret.jpg"><img src="/images/2017/03/20170303kontracabaret.thumbnail.jpg" width="400" height="225" alt="Cartel Kontracabaret marzo 2017"/></a></p>
