.. title: Villa de Vallecas: Calle del libro
.. slug: 20170423-calle-del-libro
.. date: 2017/04/23 11:57:00
.. tags: Kontrabloko, Villa de Vallekas, Calle del libro
.. author: Kontrabloko

<p>Toca celebrar en el barrio un a&ntilde;o más que Vallekas es calle del libro con recorridos poéticos, mercadillos de libros infantiles y... Kontrabloko con un poco de samba para reivindicar que el libro es un arma cargada de futuro.</p>
<p>Del 24 al 27 de abril como todos los años en el Paseo Federico García Lorca.&iexcl;No te lo pierdas!</p>
<p><a target="_blank" href="/images/2017/04/2017calledellibro.jpg"><img src="/images/2017/04/2017calledellibro.thumbnail.jpg" width="322" height="400" alt="Cartel Calle del libro 2017 Villa de Vallekas"/></a></p>
