.. title: XVIII Muestra de Arte de Calle del Pueblo de Vallekas
.. slug: 20160608-muestra-arte
.. date: 2016/06/08 19:38:00
.. tags: Kontracorriente,	Muestra de Arte de Kalle, Villa de Vallekas

<p>Ya vuelve la Muestra de Arte de Kalle que Kontracorriente lleva haciendo 18 años en el Pueblo de Vallekas. Se le mete cariño a toneladas, horas de trabajo por miles,y se moviliza a "ni lo sé" la cantidad de gente, tanto del colectivo como colaboradores que viven para y por su barrio. Todo un orgullo de autogestión y buen hacer.</p>
<p>Solo te pedimos que no pagues... que nos pagues en sonrisas y aplausos, en besos y abrazos... ya que de todo eso queremos ser multimillonarixs, y eso solo lo puedes hace viniendo este fin de semana.</p>
<p><a target="_blank" href="/galleries/kontracorriente/2016/06/20160610-muestra-arte/diptico.jpg"><img src="/galleries/kontracorriente/2016/06/20160610-muestra-arte/diptico.thumbnail.jpg" width="400" height="283" alt="Díptico Muestra de Arte de Kalle 2016"/></a></p>
<p><a target="_blank" href="/galleries/kontracorriente/2016/06/20160610-muestra-arte/programacion.jpg"><img src="/galleries/kontracorriente/2016/06/20160610-muestra-arte/programacion.thumbnail.jpg" width="400" height="283" alt="Programación Muestra de Arte de Kalle 2016"/></a></p>
