.. title: Manifestación Vallecas por la Sanidad Pública
.. slug: 20160628-manifestacion-sanidad
.. date: 2016/06/28 01:56:00
.. tags: Kontracorriente, Villa de Vallekas

<p>Hoy, 28 de junio a las 18:00, en la calle Enrique García Álvarez con Camino de Vasares.</p>
<p><a target="_blank" href="/images/2016/06/20160628_manifestacion_sanidad.jpg"><img src="/images/2016/06/20160628_manifestacion_sanidad.thumbnail.jpg" width="282" height="400" alt="Cartel Manifestación Sanidad Pública Junio 2016"/></a></p>
