.. title: Kontrafiestas 2015
.. slug: 20150903-kontrafiestas
.. date: 2015/09/03 18:07:00
.. tags: Kontracorriente, Kontrafiestas, Villa de Vallekas

<p>Cartel definitivo de las Kontrafiestas 2015 ¡¡¡No queda ná de ná!!!</p>
<p><a target="_blank" href="/images/2015/09/kontrafiestas2015.jpg"><img src="/images/2015/09/kontrafiestas2015.thumbnail.jpg" width="400" height="566" alt="Cartel Kontrafiestas 2015"/></a></p>
