.. title: Galería actuación Calle del Libro
.. slug: 20160424-galeria-calle-libro
.. date: 2016/04/24 14:39:00
.. tags: Kontrabloko, Villa de Vallekas
.. author: Kontrabloko

<p>"Porque vivir sin leer es muy peligroso, te obliga a creer en lo que te digan."</p>
<p>Por eso un año más el Kontrabloko animando a la lectura en el día del libro de Villa de Vallekas con sus vecinos/as.</p>
<p><a target="_blank" href="/galleries/kontrabloko/2016/04/20160421-calle-libro/20160421_calle_libro_01.jpg"><img src="/galleries/kontrabloko/2016/04/20160421-calle-libro/20160421_calle_libro_01.thumbnail.jpg" width="400" height="300" alt="Actuación Kontrabloko en la Calle del Libro 2016"/></a></p>
<p>Podéis ver la galería de la actuación <a target="_blank" href="/galleries/kontrabloko/2016/04/20160421-calle-libro/">aquí</a>.
