.. title: XVII Edición de Vallecas Calle del Libro
.. slug: 20160418-libro-vallecas
.. date: 2016/04/18 11:43:00
.. tags: Kontrabloko, Villa de Vallekas, Calle del libro
.. author: Kontrabloko

<p>Jueves 21 de abril a las 18:00 en el Paseo Federico García Lorca habrá samba, poemas y tienda gratis de libros infantiles...</p>
<p>¡¡No te lo pierdas!!</p>
<p><a target="_blank" href="/images/2016/04/20160421_libro_vallecas.jpg"><img src="/images/2016/04/20160421_libro_vallecas.thumbnail.jpg" width="341" height="400" alt="Cartel de calle del libro de Vallecas 2016"/></a></p>

