.. title: Fiestas Madrid Sur - Vallecas
.. slug: 20160623-fiestas-madridsur
.. date: 2016/06/23 01:56:00
.. tags: Kontrabloko
.. author: Kontrabloko

<p>Kontrabloko estará con Patiukada y la batukada de Javier de Miguel llevando a ritmo de batukada los deseos o sobrantes que se quieran quemar dirección a la hoguera en las fiestas de Madrid Sur-Vallekas. Ven a quemar tus deseos o lo que te sobre.</p>
<p>Saldremos en pasacalles desde la Plaza de Cine hasta la hoguera a las 23:30 el jueves 23 de junio.</p>
<p><a target="_blank" href="/images/2016/06/20160623_fiestas_madridsur.jpg"><img src="/images/2016/06/20160623_fiestas_madridsur.thumbnail.jpg" width="279" height="400" alt="Cartel Fiestas Madrid Sur - Vallecas 2016"/></a></p>
