.. title: Colabora en las Kontrafiestas
.. slug: 201700912-ayuda
.. date: 2017/09/12 18:27:00
.. tags: Kontracorriente, Kontrafiestas

<p>&iexcl;Llegan las Kontrafiestas! &iquest;Qué no sabes cómo puedes colaborar? Aquí te lo contamos todo.</p>
<p>&iexcl;Toda ayuda es bien recibida!</p>
<p><a target="_blank" href="/images/2017/08/20170912_kontrafiestas.jpg"><img src="/images/2017/08/20170912_kontrafiestas.thumbnail.jpg" width="283" height="400" alt="Colabora en las Kontrafiestas 2017"/></a></p>
