.. title: Vermut musical 17 de septiembre
.. slug: 20170905-vermut-musical
.. date: 2017/09/05 14:27:00
.. tags: Kontracorriente, Vermut musical, Villa de Vallekas

<p>Y el domingo 17... &iexcl;Vermut musical! Música en directo para pasar un buen rato.</p>
<p>A las 12:00 del medio día, en el chiringo del Kontra.</p>
<p><a target="_blank" href="/images/2017/09/20170917_vermut_musical.jpg"><img src="/images/2017/09/20170917_vermut_musical.thumbnail.jpg" width="283" height="400" alt="Vermut Musical Septiembre 2017"/></a></p>
