.. title: Kontratapa 16 de septiembre
.. slug: 20170901-kontratapa
.. date: 2017/09/01 17:27:00
.. tags: Kontracorriente, Kontratapa, Villa de Vallekas

<p>&iexcl;Atención gentes de buen comer!</p>
<p>&iexcl;Sábado 16 de septiembre Kontratapa acompañada de varias actuaciones!</p>
<p><a target="_blank" href="/images/2017/09/20170916_kontratapa.jpg"><img src="/images/2017/09/20170916_kontratapa.thumbnail.jpg" width="283" height="400" alt="Kontratapa Septiembre 2017"/></a></p>
