.. title: Batalla Naval: Vallekas contra el machismo
.. slug: 20160713-batalla-naval
.. date: 2016/07/13 17:12:00
.. tags: Kontrabloko,	Batalla Naval
.. author: Kontrabloko

<p>Kontrabloko junto con Patiukada mojándonos contra el machismo este Domingo 17 a las 16:30 en la Batalla Naval de Vallekas. ¡¡A ritmo de batukada social gritaremos NO al machismo en nuestros barrios!!</p>
<p><a target="_blank" href="/images/2016/07/20160717_batalla_naval.jpg"><img src="/images/2016/07/20160717_batalla_naval.thumbnail.jpg" width="283" height="400" alt="Batalla Naval 2016"/></a></p>
