.. title: Robregordo In Action
.. slug: 20160716-refugiados-robregordo
.. date: 2016/07/16 10:53:00
.. tags: Kontrabloko, Robregordo
.. author: Kontrabloko

<p>Hoy 16 julio Kontrabloko estará en Robregordo en apoyo a las personas refugiadas que huyen de las guerras.</p>
<p>¡Pásate a solidarizarte!</p>
<p><a target="_blank" href="/images/2016/07/20160716_refugiados_robregordo.jpg"><img src="/images/2016/07/20160716_refugiados_robregordo.thumbnail.jpg" width="225" height="400" alt="Programación Robregordo In Action 2016"/></a></p>
