.. title: Iboga 2016
.. slug: 20160724-iboga
.. date: 2016/07/24 10:57:00
.. tags: Kontrabloko, Iboga
.. author: Kontrabloko

<p>1, 2, 3 ¡¡IBOGAAA!!</p>
<p>Kontrabloko estará en el Iboga 2016 cerrando la temporada batukera por este curso.</p>
<p>Folk balkaniko y batukadas.</p>
<p>¡¡No te lo pierdas!!</p>
<p><a target="_blank" href="/images/2016/07/20160728_iboga.jpg"><img src="/images/2016/07/20160728_iboga.thumbnail.jpg" width="283" height="400" alt="Programación Iboga 2016"/></a></p>
