.. title: Programa Muestra de Arte de Kalle 2015
.. slug: 20150610-programa-muestra-de-arte
.. date: 2015/06/10 18:19:00
.. tags: Kontracorriente, Muestra de Arte de Kalle, Kontrabloko, Vallekas49, Villa de Vallekas

<p>Ya tenemos el programa con todxs lxs Artistxs que nos acompañarán este año en la Muestra de Arte de Kalle. ¡¡No lo olvidéis!! ¡¡Próximo viernes día 12 y sábado día 13 de junio!!</p>
<p>¡¡¡¡Por amor al arte!!!!</p>
<p><a target="_blank" href="/images/2015/06/programa_muestra_de_arte2015_01.jpg"><img src="/images/2015/06/programa_muestra_de_arte2015_01.thumbnail.jpg" width="400" height="290" alt="Programa Muestra de Arte de Kalle Vallekas 2015 Hoja 1"/></a></p>
<p><a target="_blank" href="/images/2015/06/programa_muestra_de_arte2015_02.jpg"><img src="/images/2015/06/programa_muestra_de_arte2015_02.thumbnail.jpg" width="400" height="290" alt="Programa Muestra de Arte de Kalle Vallekas 2015 Hoja 2"/></a></p>
