.. title: Mural Muestra de Arte de Kalle 2015
.. slug: 20150609-mural-muestra-de-arte
.. date: 2015/06/09 18:25:00
.. tags: Kontracorriente, Muestra de Arte de Kalle, Mural, Villa de Vallekas

<p>¡¡¡El Mural de La Muestra ha quedado preciosoooooo!!!!</p>
<p><a target="_blank" href="/images/2015/06/mural_muestra_de_arte2015.jpg"><img src="/images/2015/06/mural_muestra_de_arte2015.thumbnail.jpg" width="400" height="536" alt="Mural Muestra de Arte de Kalle Vallekas 2015"/></a></p>
