.. title: Kontratapa 13 de marzo
.. slug: 20160308-kontratapa
.. date: 2016/03/08 13:34:00
.. author: Kontragando
.. tags: Kontragando, Kontratapa, Villa de Vallekas

<p>Este domingo a las 12:30 &iexcl;Kontratapa!</p>
<p><a target="_blank" href="/images/2016/03/20160313kontratapa.jpg"><img src="/images/2016/03/20160313kontratapa.thumbnail.jpg" width="400" height="400" alt="Cartel Kontratapa 13 de marzo de 2016"/></a></p>
