.. title: Programación Kontrafiestas 2016
.. slug: 20160826-programacion-sin-horas-kontrafiestas
.. date: 2016/08/26 16:56:00
.. tags: Kontracorriente, Kontrafiestas

<p>Ya tenemos la programación provisional de las Kontrafiestas. Os iremos confirmando las horas.</p>
<p><a target="_blank" href="/images/2016/09/20160907_programacion_sin_horas_kontrafiestas.jpg"><img src="/images/2016/09/20160907_programacion_sin_horas_kontrafiestas.thumbnail.jpg" width="282" height="400" alt="Programación provisional Kontrafiestas 2016"/></a></p>
