.. title: Kontrafiestas 2017
.. slug: 20170821-kontrafiestas
.. date: 2017/08/21 09:27:00
.. tags: Kontracorriente, Kontrafiestas

<p>&iexcl;Se acercan las Kontrafiestas!</p>
<p>&iexcl;Del 13 al 17 de Septiembre os esperamos!</p>
<p><a target="_blank" href="/images/2017/08/20170913_kontrafiestas.jpg"><img src="/images/2017/08/20170913_kontrafiestas.thumbnail.jpg" width="256" height="400" alt="Programación definitiva Kontrafiestas 2017"/></a></p>
