.. title: Iboga 2017
.. slug: 20170724-iboga
.. date: 2017/07/24 12:26:00
.. tags: Kontrabloko, Iboga
.. author: Kontrabloko

<p>Kontrabloko cerrará la termporada como los últimos años batukeando ritmos de resistencia en el Iboga 2017.</p>
<p>¡¡No te lo pierdas!!</p>
<p>Nos vemos en Septiembre con más samba...</p>
<p><a target="_blank" href="/images/2017/07/20170724_iboga.jpg"><img src="/images/2017/07/20170724_iboga.thumbnail.jpg" width="283" height="400" alt="Programación Batucadas Iboga 2017"/></a></p>
