.. title: Proyección de Persépolis
.. slug: 20160518-cine-persepolis
.. date: 2016/05/18 19:13:00
.. tags: Kontracorriente,	Cine

<p>Kontracorriente con el cine. El próximo viernes 20 de mayo a las 20:00 proyección de Persépolis en el <a href="/stories/donde-estamos/">local</a>.</p>
<p><a target="_blank" href="/images/2016/05/20160520_cine_persepolis.jpg"><img src="/images/2016/05/20160520_cine_persepolis.thumbnail.jpg" width="261" height="400" alt="Cartel Proyección Persépolis 2016"/></a></p>
