.. title: Kontratapa 20 de diciembre
.. slug: 20151215-kontratapa
.. date: 2015/12/15 12:54:00
.. author: Kontragando
.. tags: Kontragando, Kontratapa, Villa de Vallekas

<p>¡¡¡¡Última Kontratapa del año 2015!!!! Este domingo, pásate por el <a href="/stories/donde-estamos/">local del Kontracorriente</a>.</p>
<p><a target="_blank" href="/images/2015/12/20151220kontratapa.jpg"><img src="/images/2015/12/20151220kontratapa.thumbnail.jpg" width="400" height="294" alt="Cartel Kontratapa diciembre 2015"/></a></p>
