.. title: Programación definitiva Kontrafiestas 2016
.. slug: 20160907-programacion-kontrafiestas
.. date: 2016/09/07 15:17:00
.. tags: Kontracorriente, Kontrafiestas

<p>¡¡¡Esta noche comenzaaamossss!!! ¡¡Queremos veros a todxs disfrutando por el txiringo del Kontracorriente!!</p>
<p>Y no os olvidéis... el sábado kontratapa y el domingo aperitivo musical.</p>
<p>Aquí tenéis los horarios.</p>
<p><a target="_blank" href="/images/2016/09/20160907_programacion_kontrafiestas.jpg"><img src="/images/2016/09/20160907_programacion_kontrafiestas.thumbnail.jpg" width="282" height="400" alt="Programación Kontrafiestas 2016"/></a></p>
