.. title: Kontracabaret: Banvi
.. slug: 20170522-kontracabaret
.. date: 2017/05/22 10:13:00
.. tags: Kontracorriente, Kontracabaret, Villa de Vallekas

<p>&iexcl;Y después de la Kontratapa del domingo llega el kontracabaret! Próximo viernes 26 de mayo a las 21:30. &iexcl;Os esperamos!</p>
<p><a target="_blank" href="/images/2017/05/20170526kontracabaret.jpg"><img src="/images/2017/05/20170526kontracabaret.thumbnail.jpg" width="400" height="264" alt="Cartel Kontracabaret mayo 2017"/></a></p>
