.. title: XIX Muestra de Arte de Calle del Pueblo de Vallekas
.. slug: 20170518-muestra-arte
.. date: 2017/05/18 23:05:00
.. tags: Kontracorriente,	Muestra de Arte de Kalle, Villa de Vallekas

<p>&iexcl;Un año más! 9 y 10 de junio el Paseo Federico García Lorca.</p>
<p><a target="_blank" href="/images/2017/05/20170609-muestra-arte.jpg"><img src="/images/2017/05/20170609-muestra-arte.thumbnail.jpg" width="283" height="400" alt="Cartel Muestra de Arte de Kalle 2017"/></a></p>
