.. title: Kontratapa 12 de febrero
.. slug: 20170207-kontratapa
.. date: 2017/02/07 06:59:00
.. author: Kontragando
.. tags: Kontragando, Kontratapa, Villa de Vallekas

<p>&iexcl;Prima! Este domingo a las 12:30 &iexcl;Kontratapa!</p>
<p>&iexcl;Buen ambiente y precios populares para apoyar al Kontra!</p>
<p><a target="_blank" href="/images/2017/02/20170212kontratapa.jpg"><img src="/images/2017/02/20170212kontratapa.thumbnail.jpg" width="400" height="225" alt="Cartel Kontratapa 12 de febrero de 2017"/></a></p>
