.. title: Kontratapa 12 de marzo
.. slug: 20170307-kontratapa
.. date: 2017/03/07 13:59:00
.. author: Kontragando
.. tags: Kontragando, Kontratapa, Villa de Vallekas

<p>Próximo domingo a las 12:30 &iexcl;Kontratapa!</p>
<p><a target="_blank" href="/images/2017/03/20170312kontratapa.jpg"><img src="/images/2017/03/20170312kontratapa.thumbnail.jpg" width="283" height="400" alt="Cartel Kontratapa 12 de marzo de 2017"/></a></p>
