.. title: Lectura teatralizada "La casa de la llave"
.. slug: 20160422-lectura-teatralizada-la-casa-de-la-llave
.. date: 2016/04/22 11:23:00
.. tags: Kontracorriente, Villa de Vallekas

<p>Este viernes 6 de mayo, a las 20:30 en nuestro <a href="/stories/donde-estamos">local</a>, poemas de Mada Alderete escritos a su paso por dos casa-refugio de mujeres víctimas de la violencia asesina machista.</p>
<p>¡¡No te lo pierdas!!</p>
<p><a target="_blank" href="/images/2016/05/20160506_lectura_casa_llave.jpg"><img src="/images/2016/05/20160506_lectura_casa_llave.thumbnail.jpg" width="226" height="400" alt="Cartel de lectura teatralizada 'La casa de la llave' 2016"/></a></p>

