.. title: Agenda
.. date: 2018/04/14 11:27:00

<p>Este es el calendario de próximas actividades del Kontracorriente:</p>
<ul>
	<li>Septiembre:
		<ul>
			<li>12-16: <a href="/kontracorriente/2018/09/20180914-kontrafiestas/">Kontrafiestas</a></li>
		</ul>
	</li>
</ul>
<p>Ya sabéis que estamos abiert@s a las propuestas e ideas que tengáis. Pasaos por <a href="/stories/donde-estamos">el local</a> el segundo y cuarto martes de cada mes de 21:00 h a 22:30 h.</p>
