.. title: Contacto
.. date: 2016/01/28 11:41:00

<p>Puedes escribirnos a kontracorriente.pvk en gmail.com o venirnos a visitar a <a href="stories/donde-estamos.html">nuestro local</a>.</p>
<ul>
  <li>Facebook: <a target="_blank" href="https://www.facebook.com/kontracorriente.vallekas">kontracorriente.vallekas</a></li>
  <li>Twitter: <a target="_blank" href="https://twitter.com/kontraeventos">@KontraEventos</a>
</ul>
