.. title: ¿Dónde estamos?
.. date: 2016/01/28 11:25:00

<p>Puedes encontrarnos el segundo y cuarto martes de cada mes de 21:00 a 22:30 en nuestro local:</p>
<ul>
  <li><a target="_blank" href="http://www.openstreetmap.org/node/3945667376">Calle Colmenar Viejo 6, 28031, Madrid</a></li>
  <li><a target="_blank" href="http://www.metromadrid.es">Metro</a>: Villa de Vallecas</li>
  <li><a target="_blank" href="http://www.renfe.com/EN/viajeros/cercanias/madrid/index.html">Cercanías</a>: Vallecas</li>
<ul>
