.. title: ¿Quiénes somos?
.. date: 2016/10/05 22:15:00

<p>Somos Kontracorriente, un colectivo autogestionado y asambleario del Pueblo de Vallekas. Llevamos 25 años realizando actividades con carácter de transformación social. Durante este tiempo han venido participando grupos con diferentes intereses e inquietudes con un foco común: el "Kontra". Un colectivo abierto a nuevos grupos e iniciativas individuales que busquen dinamizar el barrio.</p>

<p>Nuestra asamblea está abierta a todas las propuestas que puedas hacernos. Nos reunimos el segundo y cuarto martes de cada mes a las 21:00 horas en nuestro <a href="/stories/donde-estamos">local</a> o pásate por cualquiera de las <a href="/stories/agenda">actividades</a> que organizamos.</p>

<p>Kontracorriente: Gente del barrio haciendo cosas para el barrio.</p>
